Django
djangorestframework
django-filter
django-widget-tweaks
gevent
gunicorn
Markdown
psycopg
python-apt @ git+https://salsa.debian.org/apt-team/python-apt.git
python-dateutil
python-gnupg
pytz
requests
rpmfile
sqlparse
tzdata
urllib3
